/*
 * Bootstrap Overrides &
 * Custom Styles
 */

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.blue {
     color: #2a6ff6 !important;
 }

.jumbotron {
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: #ff8a00;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8a00), to(#ffc700));
    background-image: -webkit-linear-gradient(top, #ff8a00 0, #ffc700 100%);
    background-image: -o-linear-gradient(top, #ff8a00 0, #ffc700 100%);
    background-image: linear-gradient(to bottom, #ff8a00 0, #ffc700 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8a00', endColorstr='#ffc700', GradientType=0);
    background-repeat: repeat-x;
}

.jumbotron h2,
.jumbotron p {
  color: #ffffff;
}


/* Sign In */

.form-signin {
    max-width: 330px;
    padding: 15px;
    padding-top: 30px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* News Section/Side Bar */
.news-content {
  font-size: 17px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.news-meta {
  margin-bottom: 10px;
  color: #999;
}


/* Sticky Footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
